:root{

    --font:'Pacifico';
}

.fontFamily{
    font-family: var(--font);
}
body{
    background-color: rgb(246, 234, 217);
}

::selection{
    background:#fec260;
    
}

.head{
    font-size: 3.5rem;
}

.headText{

    background: linear-gradient(to right, #41a55b 41%, #b3ac49 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Righteous', cursive;
}
h1{
    color: #352e28;
    position: relative;
    width: 23%;
    margin: auto;
}

h1::after{
content: "";
    position: absolute;
    width: 100%;
    height: 25% ;
    left: 0;
    bottom: 0px;
    background-color: #fec260;
    transition: height 350ms;
    /* transition: top 350ms; */
    z-index: -1;
}
hr{
    border-top: 1px dashed black;
}

h1:hover::after{
    height: 60%;
    /* top: 0; */


}
.submit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}


.btn{
    width: 150px;

    
}
.btn-visit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9eb23b;
    --bs-btn-border-color: #9eb23b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8a9e23;
    --bs-btn-hover-border-color: #6e8018;
}



.validation-box{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    
}

.circles span {
 display: block;
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}

.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;

}

.f-font{
    font-family: 'Bree Serif', serif;

}
ol li{
    font-family: 'Bree Serif', serif;

}

.form-control:focus{
box-shadow: 0 0 5px 1px #ec970f ;
}

.check {
    top: 18px;
    right: 10px;
    
}

